.Button {
  background-color: transparent;
  border: none;
  font: inherit;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  color: black;
  margin: 10px;
  padding: 10px;
}

.Button:first-of-type {
  margin-left: 0;
  padding-left: 0;
}

.Button:disabled {
  cursor: not-allowed;
  color: #ccc;
}

.Success {
  color: #5c9210;
}

.Danger {
  color: #944317;
}

.Input {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
}

.Label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
}

.InputElement {
  outline: none;
  background-color: white;
  font: inherit;
  border: 1px solid #ccc;
  width: 100%;
  padding: 6px 10px;
  display: block;
  box-sizing: border-box;
}

.InputElement:focus {
  background-color: #ccc;
  outline: none;
}

.Invalid {
  border: 1px solid red;
  background-color: #fda49a;
}

.ErrorMessage {
  color: red;
  margin: 5px 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.RegisterForm {
  margin: 20px auto;
  width: 80%;
  text-align: center;
  box-shadow: 0 2px 3px #ccc;
  border: 1px solid #eee;
  padding: 10px;
  box-sizing: border-box;
}

@media (min-width: 600px) {
  .RegisterForm {
    width: 500px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
