.comment-button {
    display: flex;
    border: 0;
    background-color: white;
    width: 480px;
    height: 42px;
    font-size: 13px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
  }
  
  .comment-button:hover {
    background-color: #F2F2F2;
  }