.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.post-text-input {
  background-color: #282828;
  color: #c4c4c4;
  width: 80%;
  font-size: 20px;
  border: 0px solid;
  outline: none;
  padding-left: 10px;
}

.post-text-input:focus {
  background-color: transparent;
  border: 0px solid;
  outline: none;
  padding-left: 10px;
}

.post-style-icon {
  display: flex;
  margin-left: 5px;
}

.post-style-icon:hover {
  cursor: pointer;
}